BOT_TOKEN=telegram_bot_tokenin_buraya
GROQ_API_KEY=groq_api_keyin_buraya
ADMIN_CHAT_ID=senin_telegram_id_buraya
GROUP_CHAT_ID=-grubun_telegram_id_buraya
UNSPLASH_ACCESS_KEY=unsplash_key_buraya_opsiyonel
