BOT_TOKEN=telegram_bot_tokenin_buraya
OPENAI_API_KEY=openai_api_keyin_buraya
ADMIN_CHAT_ID=senin_telegram_id_buraya
GROUP_CHAT_ID=-grubun_telegram_id_buraya
UNSPLASH_ACCESS_KEY=unsplash_access_key_buraya
